body{
    font-family: 'Roboto Condensed', sans-serif;
}
#name-color{
    color:indianred;
}

h1{
   font-size:60px;
   line-height:10px;
}
p{
    font-size:30px;
    color:darkgrey
}

.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:3%;
}
#hire{
    background-color: orangered;
    color:white;
    padding: 10px 20px;
    border-radius:5px;
    font-size:15px;
    font-weight:bold;
}
.half-width img{
    width:100%;
}
#bio{
    background-color: orangered;
    color:white;
    padding: 10px 20px;
    border-radius:5px;
    font-size:15px;
    font-weight:bold; 
}
.three-box{
    width:100%;
    float:left;
    background-color:lightsteelblue;
    height:800px;
    margin:20px 30px;
    text-align: center;
}
.card{
    float: left;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,);
    border-radius: 5px;
    background-color: white;
    margin: 20px 30px;
}
section{
    padding-bottom: 40px;
    height:500px;
    border-radius: 5px;
    
}
.box-area{
   padding: 40px 10px;
}
.solid-box img{
    width:60%;
    padding: 60px 250px;
}

#chat{
    background-color: orangered;
    color:white;
    padding: 10px 20px;
    border-radius:5px;
    font-size:15px;
    font-weight:bold; 
    margin-right: 30px;
 
}
.solid-box{
    position: relative;
        display: inline-block;
}
.solid-box .text-position{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    color:white;
    text-align: center;
}


